@import url('https://fonts.googleapis.com/css?family=PT+Mono');
body{
	
    font-family: 'PT Mono', monospace;
    height: 100%;
    background: linear-gradient(208deg, white, white 52%, grey);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

li{
	font-weight: normal;
}


a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.centered {
 	margin-top: 200px;
}
.centered p{
	background-color: #111;
	color: #fff;
	padding: 10px;
	margin:3px;
	display: inline-block;
}
.divspace {
	margin-top: 20px;
}
.bg-light{
	background-color: #fff!important;

}
.flexcontainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
   
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  
}